.react-calendar {
  border: none;
  background: #f9f9ff;
  border-radius: 15px;
  padding: 10px;
}

.react-calendar__tile--active {
  background: #ff7eb3 !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile--now {
  background: #bbdefb !important;
  border-radius: 10px;
}
